<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>게시판</title>
        <style>
            table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1>게시판</h1>
        <table>
            <thead>
                <tr height="50">
                    <th width="80">ID</th>
                    <th width="300">Title</th>
                    <th width="130">Username</th>
                </tr>
            </thead>
            <tbody>
                {% for board_data in board_datas %}
                <tr>
                    <td style="text-align: center">{{ board_data[0] }}</td>
                    <td onclick = "location.href='/post?id={{ board_data[0] }}'" style="padding-left: 10px">{{ board_data[1] }}</td>
                    <td style="text-align: center">{{ board_data[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table><br>
        <form action="/board">
            <input style="width: 450px" type="text" name="keyword">&nbsp;<button type="submit">검색</button>
        </form>
        <button onclick="location.href='/write'">작성</button>      
    </body>
</html>