<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>게시글수정</title>
    </head>
    <body>
        <h1>글수정</h1> 
        <form method="POST" action="/modify">
            title : <br><input type="text" name="title" maxlength="20" value = "{{ post_data[1] }}" required><br>
            content : <br><textarea name="content" rows="10" cols="50" maxlength="200" required>{{ post_data[3] }}</textarea><br>
            <input type="hidden" name="post_id" value ="{{ post_data[0]}}">
            <input type="hidden" name="username" value ="{{ post_data[2]}}">
            <button type="submit">수정</button>
            <button onclick="location.href='/post?id={{ post_data[0] }}'">취소</button>
        </form>
    </body>
</html>