<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>게시글 {{ post_data[0] }}</title>
    </head>
    <body>
        <h1>{{ post_data[1] | safe }}</h1>
        username : <br>{{ post_data[2] }}<br><br>
        writetime : <br>{{ post_data[5] }}<br><br>
        content : <br>{{ post_data[3] | safe }}<br><br>
        <form action="/post/download" method="POST" enctype = "multipart/form-data">
        file : <br>{{ post_data[4] }}<br>
        </form><br>
        <button onclick="location.href='/modify?id={{ post_data[0] }}'">수정</button>&nbsp;<button onclick="location.href='/delete?id={{ post_data[0] }}'">삭제</button><br><br>
        <button onclick="location.href='/board'">목록으로</button>
    </body>
</html>